body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5F5A55;
}

.container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectPlayer {
  width: 40%;
  height: 40%;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 1px solid black;
}

.chooseWeapon {
  width: 80%;
  height: 40%;
  padding: 0 auto;
}

.chooseWeapon button {
  margin: 3px;
  width: 30%;
  height: 50px;
  font-size: 30px;
}

.board {
  width: 600px;
  height: 600px; 
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.square {
  width: 33.3%;
  height: 100%;
  border: 1px solid peachpuff;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: peachpuff;
}

.square:hover {
  background-color: rgb(224, 161, 97);
}